* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   --color-bg:#065E7C;
}

header {
    background-color: var(--color-bg);
    display:  flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 25px;
}

header .avatar {
    border-radius: 50%;
    width: 42px;
    height: 42px;

}
header .logo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
header #pesquisa {
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 12px 16px 12px 14px;
    gap: 12px;
    border: none;
}
header #pesquisa::placeholder {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}


main h1 {
    margin: 31px 0px 0px 26px;
}

main p {
    width: 382px;
    margin-top: 43px;
    margin-left: 26px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

main .icon-logo {
    color: #FFF;
    background-color: #065E7C;
    margin-top: 8px;
    margin-left: 22px;
    border-radius: 50%;
    padding: 12px;

}
/* */
aside {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    margin-left: 22px;
    gap: 32px;
    column-gap: 32px;

    padding-bottom: 32px;
}

 aside h1 {
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
 }

 aside h2 {
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
 }
 aside img {
 }
 aside .item  {
    display: flex;
    justify-content: center;
    gap: 16px;

 }

 aside .item h2 {
 }


 /* footer */


footer {
    color: #FFF;
    background-color: var(--color-bg);
    text-align: center;
    padding: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}