* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
   --color-bg:#065E7C;
   font-family: 'Mulish', sans-serif;
}

header {
    background-color: var(--color-bg);
    display:  flex;
    justify-content: center;
    align-items: center;
    padding: 12px 28px;
    gap: 25px;
}

header .avatar {
    border-radius: 50%;
    width: 42px;
    height: 42px;

}
header .logo {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    padding: 8px;
}

header label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}
header #pesquisa {
    background: rgba(255, 255, 255, 0.20);
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 12px 16px 12px 14px;
    gap: 12px;
    border: none;
}
header #pesquisa::placeholder {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}


main h1 {
    margin: 31px 0px 0px 26px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
}

main p {
    width: 382px;
    margin-top: 31px;
    margin-left: 26px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

main .icon-logo {
    color: #FFF;
    background-color: #065E7C;
    margin-top: 8px;
    margin-left: 22px;
    border-radius: 50%;
    padding: 12px;
}
main picture img {
    border-radius: 5px;
    min-width: 431px;
    min-height: 242px;
    aspect-ratio: 16/9;
    object-fit: cover;
}

/* */
aside {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 22px;
    gap: 32px;
    column-gap: 32px;

    padding-bottom: 32px;
}
aside .item  {
    width: 382px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

 }

 aside h1 {
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
 }

 aside h2 {
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
 }
 aside p {
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
 }


 aside img  {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 151px;
    height: 84px;
    object-fit: cover;
    aspect-ratio: 16/9;
 }


 /* footer */

footer {
    background-color: var(--color-bg);
    display: flex;
    width: 430px;
    height: 64px;
    padding: 16px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

@media (min-width:452px){
    body {
        margin: 0 auto;
    }
    header input {
        width: 80%;
    }
    .page {
        margin: 40px 34px 36px 109px ;  
        display: grid;
        grid-template-columns: 1000px 3px ;
        gap: 32px;
    }
    main p {
        width: 800px;
        height: 405px;
    }
    .title {
        display: flex;
         width: 800px;
         height: 40px;        
    }
 aside {
    margin-left: 36px;
 }
 footer {
    width: 100%;
 }
}